{% extends "base.html.twig" %}

{% block body %}
    <ul>
    {% for vehicleType in vehicleTypes %}
        <li><a href="/makes/{{ vehicleType.code }}">{{ vehicleType.description }}</a></li>
    {% endfor %}
    </ul
{% endblock %}